.component
    display: flex;
    flex-direction: row;
    margin: 24px;
    height: 65px;
    width: 300px;
    border: 1px solid #707070;
    mat-icon
        width: 20%;
        margin: 8px;
        font-size: 45px !important; 

